<%= link_to(meal_path(meal), class: 'card') do %>
  <div class="card-header">
    <div class="d-flex">
      <% meal.tags.each do |tag| %>
        <span class="badge bg-success me-2"><%= tag.name %></span>
      <% end %>
      <span class="badge bg-primary ms-auto"><%= meal.scene_label %></span>
    </div>
    <div class="text-center"> <%= meal.title.presence || 'No title' %></div>
  </div>
  <div class="card-body p-2">
    <%= meal.thumbnail_image.present? ? image_tag(meal.thumbnail_image.variant(resize_to_fill: [480, 480]).processed, class: 'img-fluid') : 'No image' %>
  </div>
<% end %>
